@model DeliveryStrela.Models.ProductVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <form class="form-group" asp-controller="OrderDetails" asp- asp-action="Create" method="get">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CatalogNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CatalogNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Diet)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Diet)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Grams)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Grams)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Count)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Count)
            </dd>
        </dl>

        <input type="submit" value="order" />
    </form>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
